.row_metier_header{
    background: #019b77;
    color:white;
    padding: 25px;
    height: 200px;

}

.border{
    border-top: 12px solid #6cc29d;
    padding: 0 45px;
}

.metier_title{
    margin-top: 40px;
    margin-bottom: 15px;
}

.metier_title p{
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 0;
}
.step_mark{
    text-align: center;
    margin-bottom: 15px;
}


.metier_text{
    margin-bottom: 35px;

}
.metier_text p{
    
    text-align: center;
    color: #444545;
    font-size: 19px;
    margin-bottom: 0;
}

.metier_search_title{
    text-align: right;
    padding-right: 15px !important;
}
.metier_search_title p{
    padding-top:8px;
    height: 38px;
    color:#444545;
    font-size: 16px;
    text-align: right;
    margin-bottom:10px; 
}

.metier_search_title a{

    text-align: right;
    color:#444545;
     font-size: 16px;
    text-decoration: underline;
}

.metier_search_box{
    text-align: center;
}
.metier_search_box input{
    width: 340px;
    height: 38px;
    padding-left: 5px;
}

.metier_search_result{
   padding-left: 15px !important;
}
.metier_no_selected{
    width: 245px;
    height: 38px;
    background-color: #019b77;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
}

.metier_selected{
    width: 245px;
    height: 38px;
    background-color: #019b77;
    color: #fff;
    font-size: 16px;
    text-align: left;
    padding-top: 8px;
    padding-left: 20px;
}

/*.metier_selected::after{
    content: '\25BC';
    font-size: 14px;
    margin-left: 10px;
}*/

.arrow-down {
    height:0px;
    width:0px;
    border:none;
    border-top:6px solid #ffffff;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    position: relative;
    top: 12px;
    left: 15px;
}

.metier_selected_list{
    width: 245px;
    height: 30px;
    background-color: #3eb98f;
    color: #fff;
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
    border-top: 2px solid #fff;
}

.metier_selected_list img{
    vertical-align: middle;
    margin-right: 15px;
    cursor:pointer;
}

.metier_button_inactive{
    margin: 30px 0 145px 0;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #aaaaaa;
    background-color: #ffffff;
    color: #aaaaaa;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.metier_button_active{
    margin: 30px 0 145px 0;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #019b77;
    background-color: #ffffff;
    color: #019b77;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

