<div class="row row_header_link">
  <div class="col-xs-6 link_left">
   <a href=""> Accueil</a> > <a href="">Evaluation des risques </a>> Mon/mes métiers
  </div>
  <div class="col-xs-6 link_right">
    > <a href="">Retour au tableau de bord</a>
  </div>
</div>
<div class="row row_metier_header">
  <div class="col-xs-4 header_image">
      <div>
         <img src="../../assets/bord.png" alt="">
      </div>
  </div>
  <div class="col-xs-5 header_text">
    <div>
      <h1>
        Évaluation des risques <br>  
        {{title}} entreprise
      </h1>
    </div>
  </div>
  <div class="col-xs-4">
      
  </div> 
</div>

<div class="border">
  <div class="row">
    <div class="col-xs-12 metier_title">
      <p>Mon/mes métiers</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 step_mark">
      <img src="../../assets/step1_mark.png" alt="">
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 metier_text">
        <p>Choisissez le ou les métiers correspondant <br> aux activités de votre entreprise</p>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-4 metier_search_title">
      <p>Tapez et sélectionnez le nom du métier</p>
      <a href="">Créez un nouveau métier</a>
    </div>
    <div class="col-xs-4 metier_search_box">
      <input type="text" placeholder="ex:Peintre">
    </div>
    <div class="col-xs-4 metier_search_result">
      <div class="metier_no_selected hide">
        Aucun métier sélectionné
      </div>
      <div class="metier_selected">
        Vos métiers sélectionnés <span class="arrow-down"> </span>
      </div>
      <div class="metier_selected_list">
         <img src="../../assets/delete_metier.png" alt=""> Métier 1
      </div>
      <div class="metier_selected_list">
          <img src="../../assets/delete_metier.png" alt=""> Métier 2
      </div>
      <div class="metier_selected_list">
          <img src="../../assets/delete_metier.png" alt=""> Métier 2
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-xs-12 " style="text-align:center;"> 
       <button class="metier_button_inactive" disabled>
             Passez à l’étape 2
      </button>
        <button class="metier_button_active" >
             Passez à l’étape 2
      </button>
    </div>
  </div>
</div>