/* remove margin in row */
.row {
    margin-left:0;
    margin-right:0;
}

/* remove padding in col- */
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

.row_header_link, .row_logo{
  margin: 0 70px;
}