<div class="row row_header_link">
  <div class="col-xs-12">
    Accueil > Evaluation des risques
  </div>
</div>

<div class="row row_accueil_header">
   <div class="col-xs-3">
      <div>
         <img src="../../assets/bord.png" alt="">
      </div>
    </div>
    <div class="col-xs-9">
    <div>
      <h1>
        Évaluation des risques <br>  
        {{title}} entreprise
      </h1>
      <h4>
        En 3 étapes, établissez votre Document Unique
      </h4>
    </div>
  </div> 
</div>
<div class="border">
  <div class="row">
    <div class="col-xs-4">
      <p>
          1
      </p>
    </div>
    <div class="col-xs-4">
      <p>
          2
      </p>
    </div>
    <div class="col-xs-4">
      <p>
          3
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <p>
          left block
      </p>
    </div>
    <div class="col-xs-6">
      <p>
          right block
      </p>
    </div>
  </div>
</div>


