.row_accueil_header{
    background: #019b77;
    color:white;
  margin: 0 70px;
}

.border{
    border-top: 12px solid #6cc29d;
    border-left: 3px solid #6cc29d;
    border-right: 3px solid #6cc29d;
    border-bottom: 0 solid #6cc29d;
    margin: 0 70px;
}