<div class="row row_header_link">
  <div class="col-xs-12">
    Accueil > Evaluation des risques
  </div>
</div>

<div class="row row_accueil_header">
  <div class="col-xs-4 header_image">
      <div>
         <img src="../../assets/bord.png" alt="">
      </div>
  </div>
  <div class="col-xs-5 header_text">
    <div>
      <h1>
        Évaluation des risques <br>  
        {{title}} entreprise
      </h1>
      <h4>
        En 3 étapes, établissez votre Document Unique
      </h4>
    </div>
  </div>
  <div class="col-xs-4">
      
  </div> 
</div>
<div class="border">
  <div class="row">
    <div class="col-xs-4  accueil_text_background">
      <p class="accueil_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-xs-4  accueil_text_background">
      <p class="accueil_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-xs-4 ">
      <p class="accueil_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <p>
          left block
      </p>
    </div>
    <div class="col-xs-6">
      <p>
  </p>
      <ul>
          <li *ngFor="let evaluation of evaluations">
          <span class="badge">{{evaluation.id}}</span>
          <span>{{evaluation.name}}</span>
        </li>
      </ul>

    </div>
  </div>
</div>


